main {
  display: flex;
  height: 100vh;
}

/*Sidebar reduzido*/


.sidebar.collapsed {
  width: 80px;
  transition: 1s;
}

.sidebar.collapsed .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sidebar.collapsed .menu-list li a i {
  display: flex;
  justify-content: center;
  margin-right: 0;
  width: 100%;
  padding: 0px;
}

.sidebar.collapsed .menu-text {
  display: none;
  /* Oculte os textos do menu */
}


.sidebar.collapsed .menu-list li a {
  padding: 15px;
  width: 100%;
}



.sidebar.collapsed .menu-list li a .menu-icon {
  margin-right: 0;
  font-size: 1.5em;
}



/* sidebar */
.sidebar {
  width: 220px;
  transition: 1s;
  font-family: 'Lato', sans-serif;
  background-color: #15a5d5;
  color: #fff;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.side-button {

  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.side-button button {
  position: absolute;
  right: -11px;
  border: 1px solid #cbcaca;
  top: 5px;
  padding: 4px 8px;

  background: #fff;

  border-radius: 8px;
}

.sidebar-header {
  margin-top: 25px;
  margin-bottom: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.menu-list li {
  width: 100%;
position: relative;
}
.menu-list li:hover .tooltip-text {
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
  transition: 0.6s;
  /* Ajuste para distância do botão */
}
.tooltip-text {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.911);
  color: #000000;
  border-radius: 35px;
  font-weight: 500;
  transition: 0.8s;
  font-style: italic;
  box-shadow: 5px 5px 26px #c1c1c1,
    -5px -5px 26px #ffffff;

  padding: 5px;
  font-size: 12px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}
.menu-list li a {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  font-size: 1.0em;
  width: 100%;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.menu-list li a:hover {
  color: #000;
  background-color: #F2F2F2;
  transition: 0.6s;
}

.menu-list li a:hover {
  transition: background-color 0.6s, color 0.6s;
}

.menu-list li a i {
  margin-right: 10px;
}

.menu-list li .menu-text {
  display: block;
}


.menu-list i {
  margin-right: 10px;
}

.sidebar-footer {
  margin-top: auto;
  text-align: center;
  margin-bottom: 20px;
}

.ativo {
  transition: 1s;
}

.menu-list li.ativo a {
  background-color: #F2F2F2;
  color: #000;
  position: relative;

  transition: background-color 1s, color 1s;
}

.menu-list li.ativo a::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 5px 0 5px #F2F2F2;
  transition: box-shadow 0.5s;



}

.menu-list li.ativo a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;

  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px #F2F2F2;
  background: transparent;
  transition: box-shadow 0.5s;


}

#btn-logout {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #fff;
}


/*conteudo */

.content {
  flex: 1;
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  max-height: 100vh;
  overflow: auto;
}

.content-user {
  display: flex;
  align-items: center;
  gap: 5px;
}

#user-name-edit {
  font-weight: bold;
  color: #353333;
}

.content-container {
  width: 100%;
  padding: 3rem;
}

.content-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 170px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.container-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.cards {
  width: 240px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #cacaca,
    -5px -5px 10px #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.title-card p {
  font-size: 12px;
  font-weight: 600;
  color: rgb(108, 108, 108);
}

.title-card {
  margin-bottom: 5px;
}

.chart-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.chart-card svg {
  width: 20px;

}

.info-card {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 3px;
}

.info-card svg {
  width: 15px;

}

.info-card p {
  font-weight: bold;
  font-size: 11px;
}

.chart-card p {

  font-weight: bold;
  font-size: 16pt;
  color: #07396e;

}

.icon-chart {
  padding: 10px 12px;
  background: linear-gradient(145deg, #dedede, #ffffff);
  box-shadow: 2px 2px 4px #e3e1e1,
    -2px -2px 4px #ffffff;

  border-radius: 50%;
}



/* TABELA */

.profile-sidebar {
  box-shadow: -2px -2px 5px #e6e5e5,
    2px 2px 5px #dddddd;
}


.table-container {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #cacaca, -5px -5px 10px #f6f6f6;

}

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  color: #4a5568;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 1.25;
  border-width: 1px;
  border-radius: .25rem;
  border-color: #c8c9ca;
  background-color: #ffffff;

}


table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff;

}


.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-weight: 700;

  border: 1px solid transparent;

}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);

  font-weight: 700;

  border-radius: .25rem;

  background: #00719E !important;

  border: 1px solid transparent;

}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #fff !important;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);

  font-weight: 700;

  border-radius: .25rem;

  background: #f4f4f4 !important;

  border: 1px solid transparent;

}


table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0;

  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  background-color: #ffffff !important;

}